.infobox {
    background-color: #fff;
    border: 1px #AFCFE2 solid;
    margin: 0 auto;
}

.craftbox {
    background-color: #fff;
    border: 1px #AFCFE2 solid;
    margin: 0 auto;
}

.terraria {
    background-color: #fff;
    border: 1px #AFCFE2 solid;
    margin: 0 auto;
}

.terraria th {
    background-color: #E4F0F7;
    color: #063B5E;
}
